### Hypothesis testing 2:

* H0 (Null) CO2 impacts everyone irrespective of Co2 proximity
* Ha (alternate) Those countries with proximity to higher levels Co2 (i.e. <2000) are more impacted


* dataset1 = average temperatures change 1960-2010 all
* dataset2 = average temperatures change 1960-2010 for specific countries (ie >80% Co2 within 2000 miles)


* H0 = Mean (dataset 2) - Mean (dataset 1) = 0
* Ha = Mean (dataset 2) - Mean (dataset 1) > 0

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
from scipy.stats import ttest_rel

In [2]:
# load dataset
df = pd.read_csv('../data/ADS_project_dataset2.csv', header=0, parse_dates=[0], squeeze=True)

In [3]:
df.head()

,Key,Country,Group,Year,AveTemperature,CO2,CO2prox1000,CO2prox2000,CO2prox3000,CO2prox4000,...,CO2prox13000,Population,GDP,SmokingRate,FertilityRate,ElecFossi,ElecNuclear,EduSpend,ForestArea,RoadTrans
0,1960Bahamas,Bahamas,Rest,1960,25.167250,0.4104,0.4104,2912.3927,189.5314,46.3240,...,0.0,109528,NaN,NaN,4.495,NaN,NaN,NaN,NaN,NaN
1,1960Cape Verde,Cape Verde,Rest,1960,23.973167,0.0220,0.0220,0.0000,1010.4104,1030.4780,...,0.0,202310,NaN,NaN,6.885,NaN,NaN,NaN,NaN,NaN
2,1960Congo Dem Republic,Congo Dem Republic,Rest,1960,23.767333,2.3193,2.3193,97.8581,2.6747,1435.4270,...,0.0,15248251,27434.3992,NaN,6.001,NaN,NaN,NaN,NaN,NaN
3,1960Egypt,Egypt,Rest,1960,23.621167,16.0410,35.5225,1147.6234,854.8186,218.3414,...,0.0,26996533,NaN,NaN,6.716,NaN,NaN,NaN,NaN,NaN
4,1960Gambia,Gambia,Rest,1960,27.573167,0.0183,0.0183,0.0000,1778.1539,363.2673,...,0.0,367928,NaN,NaN,5.573,NaN,NaN,NaN,NaN,NaN